<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>天天NBA阵容选择工具</title>
	<link rel="stylesheet" type="text/css" href="../css/select.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
	<script src="../../node_modules/angular-material/angular-material.min.js"></script>
	<script src="../../node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="../js/combox.js"></script>
	<script src="../js/select.js"></script>
	<script src="../../node_modules/angular-aria/angular-aria.min.js"></script>
	<script></script>

	<!-- <script src="../js/select2.min.js"></script> -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="../../node_modules/angular-material/angular-material.min.css">

</head>
<body ng-app="myApp">
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<div ng-controller="ResultCtrl as ctrl" class='container'>
		<div class="statusBox"><h2 id="status">{{status_text}}</h2></div>
		<div class='head'>
			<div id="room" class="select roomSelect">
			    <ui-select data-ng-model="roomModel" theme="selectize" ng-change="changedValue('room',roomModel)" style="width: 100%;">
			    	<ui-select-match placeholder="选择一个房间或搜索...">
			    		{{$select.selected.id+' - '+$select.selected.num_type_text+'-'+$select.selected.name || $select.selected}}
			    	</ui-select-match>
			        <ui-select-choices group-by="'num_type_text'" repeat ="room in room | propsFilter: {name: $select.search, num_type_text: $select.search}"  value="{{room}}" position="down">
			        <div ng-bind-html="room.name | highlight: $select.search"></div>
				      <small>
				        ID: {{room.id}}
				        价格: {{room.ticket_num}}
				        人数: {{room.num+'/'+room.max_num}}
				      </small>
			        	<!-- {{room.id}} - {{(room.num_type==1?"五人":"八人")}}-{{room.name}} -->
			        </ui-select-choices>
			    </ui-select>
		    </div>
			<div layout="row" layout-xs="column" class="">
		    <div  flex>
				<ui-select multiple close-on-select="false" ng-model="ctrl.playerFixSelect" theme="selectize" style="width: 90%;" reset-search-input='false' remove-selected="true" appendToBody="true">
			    	<ui-select-match placeholder="选择固定球员...">
			    		{{$item.positionEn}}:{{$item.player}}
			    	</ui-select-match>
			        <ui-select-choices  group-by="'positionEn'" group-filter="['PG', 'SG', 'SF', 'PF', 'C']" repeat =" player in allPlayer | propsFilter: {player: $select.search, nameEn: $select.search, positionEn: $select.search, team: $select.search}"  value="{{player}}" position="down">
			        <img class='lcol' style="width: 50px; height: 40px;" src="{{imgUrl+player.img}}" ></img>
			        <div class='rcol' ng-bind-html="player.player | highlight: $select.search"></div>
				      <small class='rcol'>
				      	<text ng-switch="player.status">
					      		<text ng-switch-when="0" style="color:DarkGreen" >{{player.statusCn}}</text>
					      		<text ng-switch-when="1" style="color:#FF4500">{{player.statusCn}}</text>
					      		<text ng-switch-when="2" style="color:#FF8C00" >{{player.statusCn}}</text>
					    </text>
					    {{player.team}}#{{player.number}}
				        ${{player.salary}} 场均{{player.timeAvg}}分钟{{player.point}}分
				      </small>
			        </ui-select-choices>
			    </ui-select>

			</div>
			<div  flex>	
			    <ui-select multiple close-on-select="false" ng-model="ctrl.playerExceptSelect" theme="selectize" style="width: 90%;" reset-search-input='false' remove-selected="true" appendToBody="true">
			    	<ui-select-match placeholder="选择去除球员...">
			    		{{$item.positionEn}}:{{$item.player}}
			    	</ui-select-match>
			        <ui-select-choices  group-by="'positionEn'" group-filter="['PG', 'SG', 'SF', 'PF', 'C']" repeat ="player in allPlayer | propsFilter: {player: $select.search, nameEn: $select.search, positionEn: $select.search, team: $select.search}" value="{{player}}" position="down">
			        <img class='lcol' style="width: 50px; height: 40px;" src="{{imgUrl+player.img}}" ></img>
			        <div class='rcol' ng-bind-html="player.player | highlight: $select.search"></div>
				      <small class='rcol'>
				      	<text ng-switch="player.status">
					      		<text ng-switch-when="0" style="color:DarkGreen" >{{player.statusCn}}</text>
					      		<text ng-switch-when="1" style="color:#FF4500">{{player.statusCn}}</text>
					      		<text ng-switch-when="2" style="color:#FF8C00" >{{player.statusCn}}</text>
					    </text>
					    {{player.team}}#{{player.number}}
				        ${{player.salary}} 场均{{player.timeAvg}}分钟{{player.point}}分
				      </small>
			        </ui-select-choices>
			    </ui-select>
			</div>
			
			</div>

	
			<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
				<md-toolbar class="md-theme-light">
    			    <h1 class="md-toolbar-tools">输入百分比</h1>
    			</md-toolbar>
    			<!-- ResultCtrl -->
    			  <md-content layout-padding="">
    			    <form >
    			    	<md-input-container>
  						<input type="number" ng-model='game[9]' placeholder="第10场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number" ng-model='game[8]' placeholder="第9场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number"  ng-model='game[7]' placeholder="第8场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number" ng-model='game[6]' placeholder="第7场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number"  ng-model='game[5]'placeholder="第6场" value=1>
						</md-input-container>
    			     	<md-input-container>
  						<input type="number" ng-model='game[4]' placeholder="第5场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number" ng-model='game[3]' placeholder="第4场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number"  ng-model='game[2]'placeholder="第3场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number" ng-model='game[1]' placeholder="第2场" value=1>
						</md-input-container>
						<md-input-container>
  							<input type="number" ng-model='game[0]' placeholder="第1场" value=1>
						</md-input-container>

    			    </form>
    			    <md-button ng-click="submit(game)" class="md-primary">
    			      确定
    			    </md-button>
    			    <md-button ng-click="resetSide()" class="md-primary">
    			      重置
    			    </md-button>
    			  </md-content>

    		</md-sidenav>
			

		    <div class="operation"  layout="row" layout-xs="column">
		    	<md-button class="md-raised md-primary" ng-click="resetSameRoom()">重置</md-button>
				<md-button class="md-raised" ng-click="search()">计算</md-button>
         		<md-button class="md-raised" ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
            	评分比例
          		</md-button>
			</div>

			<h4>{{game}}</h4>

			<md-chips ng-model="ctrl.roFruitNames" name="fruitName" readonly="ctrl.readonly" md-removable="ctrl.removable" md-max-chips="5">
        		<md-chip-template>
          			<strong>{{$chip}}</strong>
          				<em>(fruit)</em>
       			 </md-chip-template>
      			</md-chips>
		</div>

		



		<div class='content' >
			<table id='tbs' ng-table="tableParams">
				<tr>
					<th>ID</th>
					<th>位置</th>
					<th>姓名</th>
					<th>场均得分</th>
					<th>工资</th>
					<th>最近十场得分</th>
					<th>场均时间</th>
					<th>性价比</th>
				</tr>
				<tr ng-repeat="person in people">
	                <td>{{person.id}}</td>
	                <td>{{person.positionEn}}</td>
	                <td>{{person.player}}</td>
	                <td>{{person.point}}</td>
	                <td>{{person.salary}}</td>
	                <td>{{person.lastTen.toString()}}</td>
	               <!--  <td>{{playerPostion[parseInt({{person.position}})-1]}}</td> -->
	                <td>{{person.timeAvg}}</td>
	                <td>{{person.xjb}}</td>
	                
            	</tr>
			</table>
		</div>
	</div>
</body>
	<script type="text/javascript" src="../js/index.js"></script>
</html>