<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>天天NBA阵容选择工具</title>
	<link rel="stylesheet" type="text/css" href="../css/select.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
	<script src="../js/combox.js"></script>
	<script src="../js/select.js"></script>

	<!-- <script src="../js/select2.min.js"></script> -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
</head>
<body ng-app="myApp">
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<div ng-controller="ResultCtrl as ctrl" class='container'>
		<div><h2 id="status">{{status_text}}</h2></div>
		<div class='head'>
			<div id="room" class="select">
			    <ui-select data-ng-model="roomModel" theme="selectize" ng-change="changedValue('room',roomModel)" style="width: 100%;">
			    	<ui-select-match placeholder="选择一个房间或搜索...">
			    		{{$select.selected.id+' - '+$select.selected.num_type_text+'-'+$select.selected.name || $select.selected}}
			    	</ui-select-match>
			        <ui-select-choices group-by="'num_type_text'" repeat ="room in room | propsFilter: {name: $select.search, num_type_text: $select.search}"  value="{{room}}" position="down">
			        <div ng-bind-html="room.name | highlight: $select.search"></div>
				      <small>
				        ID: {{room.id}}
				        价格: {{room.ticket_num}}
				        人数: {{room.num+'/'+room.max_num}}
				      </small>
			        	<!-- {{room.id}} - {{(room.num_type==1?"五人":"八人")}}-{{room.name}} -->
			        </ui-select-choices>
			    </ui-select>
		    </div>
		    <div class='col1'>
		 		<!-- <div id="player"  class="select">
			    	{{playerHave}}:
				   	<select data-ng-model="playerSelectModel" ng-change="addSelectedPlayer('playerSelectedYes',playerSelectModel)" multiple>
				        <option ng-repeat =" player in allPlayer"  value="{{player.id}}">{{player.player}}</option>
				    </select>
			    </div>
			    <label>已选择球员:
			    	<a ng-repeat =" playerx in player.playerSelectedYes">{{playerx.player}},</a>
			    </label> -->

				<ui-select multiple close-on-select="false" ng-model="ctrl.playerFixSelect" theme="selectize" style="width: 100%;" reset-search-input='false' remove-selected="true" appendToBody="true">
			    	<ui-select-match placeholder="选择固定球员...">
			    		{{$item.player}}
			    	</ui-select-match>
			        <ui-select-choices  group-by="'positionEn'" group-filter="['PG', 'SG', 'SF', 'PF', 'C']" repeat =" player in allPlayer | propsFilter: {player: $select.search, nameEn: $select.search, positionEn: $select.search, team: $select.search}"  value="{{player}}" position="down">
			        <div ng-bind-html="player.player | highlight: $select.search"></div>
				      <small>
				      	<text ng-switch="player.status">
					      		<text ng-switch-when="0" style="color:DarkGreen" >{{player.statusCn}}</text>
					      		<text ng-switch-when="1" style="color:#FF4500">{{player.statusCn}}</text>
					      		<text ng-switch-when="2" style="color:#FF8C00" >{{player.statusCn}}</text>
					    </text>
					    球队: {{player.team}}
				        薪资: {{player.salary}}
				      </small>
			        </ui-select-choices>
			    </ui-select>

			</div>
			<div class='col2'>	
			    <ui-select multiple close-on-select="false" ng-model="ctrl.playerExceptSelect" theme="selectize" style="width: 100%;" reset-search-input='false' remove-selected="true" appendToBody="true">
			    	<ui-select-match placeholder="选择去除球员...">
			    		{{$item.player}}
			    	</ui-select-match>
			        <ui-select-choices  group-by="'positionEn'" group-filter="['PG', 'SG', 'SF', 'PF', 'C']" repeat ="player in allPlayer | propsFilter: {player: $select.search, nameEn: $select.search, positionEn: $select.search, team: $select.search}" value="{{player}}" position="down">
			        <div ng-bind-html="player.player | highlight: $select.search"></div>
				      <small>
				    	<label ng-switch="player.status">
				      		<label ng-switch-when="0" style="color:DarkGreen" >{{player.statusCn}}</label>
				      		<label ng-switch-when="1" style="color:#FF4500" >{{player.statusCn}}</label>
				      		<label ng-switch-when="2" style="color:#FF8C00"  >{{player.statusCn}}</label>
				      	</label>
				      	球队: {{player.team}}
			        	薪资: {{player.salary}}
				      </small>
			        </ui-select-choices>
			    </ui-select>
			</div>
		    <div>
		    	<button ng-click="resetSameRoom()">reset</button>
				<button ng-click="search()">search</button>
			</div>
		</div>

		

		<div class='content' >
			<table id='tbs' ng-table="tableParams">
				<tr>
					<th>ID</th>
					<th>position</th>
					<th>PLAYER</th>
					<th>POINT</th>
					<th>salary</th>
					<th>lastTen</th>
					<th>timeAvg</th>
					<th>xjb</th>
				</tr>
				<tr ng-repeat="person in people">
	                <td>{{person.id}}</td>
	                <td>{{person.positionEn}}</td>
	                <td>{{person.player}}</td>
	                <td>{{person.point}}</td>
	                <td>{{person.salary}}</td>
	                <td>{{person.lastTen.toString()}}</td>
	               <!--  <td>{{playerPostion[parseInt({{person.position}})-1]}}</td> -->
	                <td>{{person.timeAvg}}</td>
	                <td>{{person.xjb}}</td>
	                
            	</tr>
			</table>
		</div>
	</div>
</body>
	<script type="text/javascript" src="../js/index.js"></script>
</html>